<!-- Including partials -->

<!-- Post Section -->
<link rel="stylesheet" href="/css/posts.css">


<section id="feed-post">
  <div class="post-form-heading">
    <h2>
      Welcome to Developer's Den
    </h2>
  </div>
  <% if (locals.user) { %>
    <div class="post-form-container">
      <form action="/posts/create" method="post">
        <div class="form-group">
          <textarea name="content" id="" cols="90" rows="5" placeholder="Add a post..."></textarea>
        </div>
        <div class="form-group">
          <button type="submit" value="Post" class="post-btn">Post</button>
        </div>
      </form>
    </div>
  <% } %>
  
    <div id="posts-container">
      <ul class="post-list">
        <% posts.forEach(post => { %>
          <li class="post-item-container">
            <div class="post-item-header">
              <div class="user-info">
                <div class="user-image">
                  <i class="far fa-user"></i>
                </div>
                <div>
                  <p class="user-name">
                    <%= post.user.name %> 
                  </p>
                  <p class="post-time">
                    <%= post.createdAt.toDateString() %> 
                  </p>
                </div>
                <% if ((locals.user) && (locals.user.id == post.user.id)) { %>
                  <div class="remove-post">
                    <a href="/posts/destroy/<%= post._id %> ">X</a>
                  </div>
                <% } %>
              </div>
            </div>
            <div class="post-details">
              <h2>
                <%= post.content %> 
              </h2>
              <div class="post-item-bottom">
                <div class="post-reactions">
                  <a href="#" class="likes"><i class="fas fa-heart like"></i>22 Likes</a>
                  <a href="#" class="comments"><i class="fas fa-comment comment"></i>15 Comments</a>
                </div>
              </div>
            </div>

            <!-- Comment part -->

            <div class="post-comment">
              <% if (locals.user) { %>
              <form action="/comments/create" method="POST" class="comment-form">
                <input type="text" name="content" placeholder="Add a comment..." required class="comment-input">
                <input type="hidden" name="post" value="<%= post._id %>">
                <button type="submit" class="submit-com-btn"><i class="fas fa-comment"></i></button>
              </form>
              <% } %>

              <!-- Showing comments -->
              <div class="post-comments-list">
                <ul id="post-comments- <%= post._id %> ">
                 <% post.comments.forEach(comment => { %>
                  <li>
                    <div class="comment-info">
                      <i class="far fa-user comment-user-image"></i>
                        <div class="comment-details">
                          <p class="comment-username"><%= comment.user.name %> </p>
                          <p class="comment-content"><%= comment.content %> </p>
                        </div>
                      </div>
                    </div>
                  </li>
                 <% }) %>
                </ul>
              </div>
            </div>

          </li>
        <% }) %>
      </ul>

  </div>


  
  
</section>
